

.clase {
    background-image: linear-gradient(red, yellow);
    height: 100px;
  
   
}

.rigth {
    background-image: linear-gradient(to right,yellow, red);
    height: 100px;
}

.left {
    background-image: linear-gradient(to left,yellow, blue);
    height: 100px;
}

.top {
    background-image: linear-gradient(to top,grey, green);
    height: 90px;
    border: 1px solid black;
}

.clase5 {
    background-image: radial-gradient(to bottom, yellow, pink);
    height: 100px;
}