section{
    width: 100%;
    .card-body{
        text-align: center;
            h3 { color: nth($colores,4 );
                font-family:nth($fonts,1);
                font-size: 18px !important;
                letter-spacing: 3px;
                word-spacing: 6px;
                margin: 2px;
                p{
                    text-align: center;
                    line-height: 10px;
                    font-family: nth($fonts,3 );
                    font-weight: bold;
                    color: nth($colores,4);
        
                }
                a{
                    font-size: 13px !important;
                    color: nth($colores,2 );
                    font-family: nth($fonts, 2);
                    text-shadow: 2px 2px 2px black ;
                    border-radius: 15px;
                    background-color: nth($colores, 1);

                    &:hover{
                        color: nth($colores,3);
                    }

                }
               

            }
    
         }
        }

        table {
            width: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-family: nth($fonts,3);
            letter-spacing: 2px;
            word-spacing: 10px;
            
        }
